$primary-color: #673C9B;
$text-title-color: #424663;
$header-text-color:#AF83E4;
$width-desktop: 80%;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

$fonts:(
    "light": 300,
    "regular":400,
    "bold":700
);