@import './config';
@import './reset';

@mixin  layout-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2em;
}
header{
    text-align: center;
    margin: 3em auto;

    .art{
        border-radius: 1em;
        color: white;
        background-color: $primary-color;
        padding: .4em;
    }

    h2{
        margin: .6em 0;
        color: darken($text-title-color, 20%);
    }

    p{
        width: 40%;
        line-height: 1.5;
        margin: 0 auto;
        color: darken($header-text-color, 10%);
    }
}

main{
    width: $width-desktop;
    margin: auto;
    height: 350px;
    @include layout-grid;


    .item1{
        box-shadow: 2px 2px 2px 2px rgb(247, 241, 241);
        border-radius: .8em;
        position: relative;
        grid-column: 1/3;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to right, rgba(0, 0, 0, 0.856),rgba(0, 0, 0, 0.452)
        ), url('img/image-plane.jpg') center center;
        background-size: cover;

        p{
            position: absolute;
            font-size: 1.6em ;
            top: 65%;
            left: 1em;
            right: 45%;
            color: white;
            line-height: 1.5;
        }
    }

    .item2{
        border-radius: .8em;
        box-shadow: 2px 2px 2px 2px rgb(247, 241, 241);

        img{
            width: 100%;
            height: 180px;
            border-top-left-radius: .8em;
            border-top-right-radius: .8em;
        }

        .content{
            padding: 1em;

            h3{
                color: darken($text-title-color, 20%);
            }

            p{
                margin-top: .6em;
                line-height: 1.3;
            }
        }
    }
}

footer{
    text-align: center;
    margin-top: 1em;
    button{
        border-radius: 1em;
        color: white;
        background-color: $primary-color;
        padding: 1em;
        border: none;
    }
}
